@use '../scss/_fonts.scss';
@use '../scss/header';
@use '../scss/footer';
@use '../scss/card.scss';
@use '../scss/cdn.scss';
@use '../scss/catalog.scss';
@use'../scss/swiper.scss';


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Inter-Tight, sans-serif;
}

a,button {
    cursor: pointer;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
